/* ABOUT */
/* addition styles for 1200 static layout*/
.wrapper{
	position: 		relative;
	width: 			1200px;
	margin: 		0 auto;
}
.wide-wrapper{
	width: 			100%;
	min-width: 		1200px;
}
/* обычно для теней */
.wrapper-s{
	width: 			978px;
	margin: 		0 auto;
}
.columns{
	float: left;
}
.columns *{
	margin: 0 5px;
}
.columns * *{
	margin:0;
}
.one{
	width: 100px;
}
.two{
	width: 200px;
}
.three{
	width: 300px;
}
.four{
	width: 400px;
}
.five{
	width: 500px;
}
.six{
	width: 600px;
}
.seven{
	width: 700px;
}
.eight{
	width: 800px;
}
.nine{
	width: 900px;
}
.ten{
	width: 1000px;
}
.eleven{
	width: 1100px;
}
.twelve{
	width: 1200px;
}