/* ABOUT */
/* addition styles for 980px flex layout*/
.wrapper{
	position: 		relative;
	min-width:		984px;
	width: 			auto;
	max-width: 		1200px;
	padding: 		0;
	margin: 		0 auto;
}
.wide-wrapper{
	width: 			100%;
}
/* обычно для теней */
.wrapper-s{
	width: 			978px;
	margin: 		0 auto;
}
.row{
	/*float: left;*/
	width: 99%;
}
.columns{
	float: left;
}
.columns *{
	margin: 0 5px;
}
.columns * *{
	margin:0;
}
.one{
	min-width: 	82px;
	width: 		8.3333%;
	max-width: 	100px;
}
.two{
	min-width: 	164px;
	width: 		16.6666%;
	max-width: 	200px;
}
.three{
	min-width: 	246px;
	width: 		24.9999%;
	max-width: 	300px;
}
.four{
	min-width: 	328px;
	width: 		33.3332%;
	max-width: 	400px;
}
.five{
	min-width: 	410px;
	width: 		41.6665%;
	max-width: 	500px;
}
.six{
	min-width: 	492px;
	width: 		49.9998%;
	max-width: 	600px;
}
.seven{
	min-width: 	574px;
	width: 		58.3331%;
	max-width: 	700px;
}
.eight{
	min-width: 	656px;
	width: 		66.6664%;
	max-width: 	800px;
}
.nine{
	min-width: 	738px;
	width: 		74.9997%;
	max-width: 	900px;
}
.ten{
	min-width: 	820px;
	width: 		83.333%;
	max-width: 	1000px;
}
.eleven{
	min-width: 	900px;
	width: 		91.6663%;
	max-width: 	1100px;
}
.twelve{
	min-width: 	984px;
	width: 		99.9996%;
	max-width: 	1200px;
}